body {
  background-color: MediumSeaGreen;
  font-family:Verdana; 
  color:black;
  text-align:center; 
  max-width:980px; 
  margin:auto;
  width: auto;
}

.content {
  max-width: 980px;
  margin: auto;


#header{
  font-size: 26px;
  colour: red;
  
}
